/* 重置样式  */
@charset "utf-8";
/*

*/

/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/* end reset */

/* public */

.fl{float:left;}
.fr{float:right;}
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }

.triangle_up,.triangle_down_red,.triangle_down_gray{
    position: absolute;width: 0;height: 0;overflow: hidden;
    border-left: 4px solid transparent;border-right: 4px solid transparent;
}
.triangle_up{
    border-bottom: 4px solid #ca0309;
}
.triangle_down_red{
    border-top: 4px solid #ca0309;
}
.triangle_down_gray{
    border-top: 4px solid #c4bdbd;
}

.gradient{
    background:-moz-linear-gradient(top, #FFFFFF, #f4f4f4);
    background:-webkit-linear-gradient(top, #FFFFFF, #f4f4f4);
    background:-ms-linear-gradient(top, #FFFFFF, #f4f4f4);
    background:linear-gradient(top, #FFFFFF, #f4f4f4);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f4f4f4)";
    +background:#f9f9f9;
}
/* public end */

#top{width:960px;height:29px;margin:0px auto;border:0px;
    background:-moz-linear-gradient(top, #FFFFFF, #f8f8f8);
    background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
    background:-ms-linear-gradient(top, #FFFFFF, #f8f8f8);
    background:linear-gradient(top, #FFFFFF, #f8f8f8);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
+background:#f9f9f9;
    border-radius:6px; box-shadow: 2px 2px 2px #ccc;

}
#nav{width:960px;height:100px;margin:0px auto;border:0px;
    position: relative;}
#search{width:958px;height:114px;border:1px solid #dbdbdb;margin:0px auto;
    border-radius: 6px;
    background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
    margin-bottom: 10px;
    position: relative;
}
#body{width:960px;margin:0px auto;border:0px;}
.content{width:710px;}
.side{width:240px;}
.main_adv{
    margin-bottom: 10px;
}
.main_wrap{
    padding-bottom: 10px;
}
.section,.side_section{
    border-radius:6px;
    position: relative;
}
#body .options{
    width: 350px;
    position: relative;
}
.content .section{
    width: 348px;border:1px solid #dbdbdb;position: relative;
}
.content .main_adv{
    width: 710px;height: 90px;border:0px;
}

.side_section{padding:0 12px;border:1px solid #dbdbdb;margin-bottom: 10px;}
.side .adv{
   margin-bottom: 10px;position: relative;
}
#footer{
    width: 958px;border:1px solid #e5e5e5;background: #f9f9f9;margin:0px auto;
}

#footer .info{height:70px;margin: 0px auto;}
#footer ul{}
#footer ul li{float: left;color:#454545;margin-right: 10px;}
#footer ul li a{border-right:1px solid #f9f9f9;}

#top .area{
    display: inline;
    font-family:arial;
    font-size: 12px;
    color:#666;
    padding-left: 20px;
    line-height: 30px;
}
.area a{
    border:1px solid #e5e5e5;
    color:#999;
    padding:0px 8px;
    margin-right:5px;
    border-radius: 3px;
    box-shadow: 1px 2px 1px #ccc;
    line-height: 18px;
    text-decoration: none;

}
.area a.active{
    color:#d60d03;
}
.area a:hover{
    color:#000;
}
#top .link{
    display: inline;
    float:right;
    padding-right: 20px;
    line-height: 30px;
}
.link a{
    border:0px;
    color:#666;
    background: url("../img/header_link_ioc.png") no-repeat 0 3px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 10px;
}
.ico1{background-position: 0 3px;}
.ico2{background-position: 0 -28px;}

/*导航 */
#nav ul{position: absolute;top:10px;}
#nav li{float:left;}
#nav ul a{display: block;font-family: arial;font-size:12px;color:#333;width: 68px;padding-top: 50px;text-align:center;background: url("../img/nav_bg.png") no-repeat 0px 0px}
#nav a:hover{
    color: #d91002;
}
#nav .bg1{
    background-position: 10px 0px;
}
#nav .bg2{
    background-position: -55px 0px;
}
#nav .bg3{
    background-position: -122px 0px;
}
#nav .bg4{
    background-position: -188px 0px;
}
#nav .bg5{
    background-position: -254px 0px;
}
#nav .bg6{
    background-position: -312px 0px;
}
#nav .bg7{
    background-position: -379px 0px;
}
#nav .bg8{
    background-position: -446px 0px;
}
#nav .bg9{
    background-position: -513px 0px;
}
#nav .bg10{
    background-position: -580px 0px;
}


#nav .bg1:hover{
    background-position: 10px -70px;
}
#nav .bg2:hover{
    background-position: -55px -70px;
}
#nav .bg3:hover{
    background-position: -122px -70px;
}
#nav .bg4:hover{
    background-position: -188px -70px;
}
#nav .bg5:hover{
    background-position: -254px -70px;
}
#nav .bg6:hover{
    background-position: -312px -70px;
}
#nav .bg7:hover{
    background-position: -379px -70px;
}
#nav .bg8:hover{
    background-position: -446px -70px;
}
#nav .bg9:hover{
    background-position: -513px -70px;
}
#nav .bg10:hover{
    background-position: -580px -70px;
}
#nav .nav_1{left:11px;}
#nav .nav_2{right:11px;}
#nav h1{
    width: 223px;height: 62px;margin: 0px auto;position: relative;top:10px;
}

#search .bar{
    position: absolute;
    left:-1px;
    top:16px;
    width: 958px;
    height: 66px;border:1px solid #c40d0e;border-radius:4px;
    background: #e21c01;
}
#search .menu{position: absolute;left:226px;top:-27px;}
#search .menu li{float: left; }
#search li a{
    display:block;
    width:78px;height:25px;border:1px solid #f8d0bf;
    border-bottom: none;
    margin-right: 1px;
    font-family: arial;
    text-align: center;line-height: 25px; font-size: 14px;color: #000;
    background:-moz-linear-gradient(top, #FFFFFF, #f5f5f5);
    background:-webkit-linear-gradient(top, #FFFFFF, #f5f5f5);
    background:-ms-linear-gradient(top, #FFFFFF, #f5f5f5);
    background:linear-gradient(top, #FFFFFF, #f5f5f5);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f5f5f5)";
+background:#f9f9f9;
    border-radius:4px 4px 0 0; box-shadow: 1px 1px 1px #e3e3e3;
}
#search .menu .active{
    background: #e21c01;
    border: 1px solid #c40d0e;
    border-bottom: none;
    color: #fff;
    font-weight: bold;
}
#search img{
    position: absolute;
    left: 16px;top:-3px;
}
#search .form{
    position:absolute;
    left: 226px;top:36px;
    z-index: 3;
}

#search .form .search_text{
    width: 404px;
    height: 20px;
    padding-left: 10px;
    line-height: 22px;
    font-size: 12px;
    color: #ea7a7a;
    border-radius: 4px;
    box-shadow: inset 2px 2px 3px #f2d7d4;
    background: #fff1ef;
    margin-right: 9px;
    float:left;

}
#search .form .submit{
    width: 63px;height: 26px;
    border:none;
    background: url("../img/search.png") no-repeat;
    float: left;
    cursor:pointer;
}
#search .keyword{width:206px;line-height:18px;color:#fff;position: absolute;top:32px;right: 12px;margin-right: 0px;}
#search .keyword a{color: #fff;}
.keyword a:hover{text-decoration: underline}

/*body下的相关元素开始*/
.video_title{
    height: 42px;
    line-height: 42px;
    padding-left: 14px;
    background: url("../img/video_start.png") no-repeat 115px 10px;
    vertical-align: middle;
    font-size: 16px;
    color: #d90000;
}
.video{margin:0 15px;}
.hot_video{
    display: inline;
    margin: 18px 16px 10px 18px;
}
.video_list{
    position: absolute;
    left: 100px;
    bottom: 20px;
    width: 234px;
}
.video_list li{
    height: 20px;vertical-align: middle;
}
.video_list a{
    line-height: 20px;
    font-size: 14px;
    color: #4d4d4d;
    padding-left: 5px;
    background: url("../img/dot.gif") no-repeat 0 5px;
}
.video_list a:hover{
    text-decoration: underline;
}


.options .nav{
    height: 33px;
    position: relative;
    z-index: 2;
}

.nav li{
    width: 172px;
    height: 33px;
    position: relative;
    border:1px solid #e5e5e5;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    text-align: center; line-height: 33px; font-size: 12px; color: #2b2d2d;
    cursor: pointer;
}
.nav .active{
    height: 34px;
    line-height: 34px;
    background: #fff;
}
.nav .active strong{
    color:#cc0d13;
}

.nav .triangle_down_gray,.nav .triangle_down_red{
    position: absolute;top: 14px;right: 12px;
}

.options .con{
    width: 348px;
    border: 1px solid #e5e5e5;
    border-radius: 0 0 6px 6px;
    z-index: -1;
}

.hot_list{
    width: 318px;
    height: 370px;
    margin: 0px auto;
    margin-top: 14px;
    position:relative;
}
.hot_list ul{
    width: 318px;
    margin: 0px auto;
    margin-top: 14px;
    position: relative;
}
.hot_list li{
    width: 318px;
    height: 108px;
    background: url("../img/hot_li_bg.png") no-repeat;
    margin: 0px auto;
    margin-bottom: 6px;
    border-radius: 6px;
    position: relative;
    vertical-align: middle;
}
.hot_list .img{
    width: 106px;
    height: 86px;
    position: absolute;
    background: url("../img/hot_shop.gif") no-repeat 0px 10px;
    float: left;
}
.hot_list .text{
    width: 192px;
    height: 68px;
    position: absolute;
    top: 10px;
    right: 0px;
}
.hot_list .text h2{
    height: 26px;
    font-size: 12px;
    color: #bd0d0d;
}
.hot_list .text p{
    color: #6e6e6e;
    line-height: 16px;
}

.hot_list .more{
    width: 37px;
    height: 13px;
    position: absolute;
    right: 0px;
    bottom: 10px;
}


.calender{
    height: 500px;
}

.recommend{
    height: 500px;
}


.options1{
    width: 350px;position: relative;
}
.options1 .nav{
    height: 34px;
    position: relative;
    z-index: 2;
}
.options1 .nav li{
    width: 172px;height:33px;line-height: 33px;text-align: center;position:relative;
    border: 1px solid #e5e5e5;border-bottom:none;cursor:pointer;border-radius: 6px 6px 0 0;
}
.options1 .nav .active{
    height: 34px;line-height:34px;background: #fff;
}
.options1 .con{
    width: 318px;padding:0px 15px;border: 1px solid #e5e5e5;border-radius: 0 0 6px 6px;
    position:absolute;top:34px;left:0;z-index: 1;
}

.main_title{width: 318px;margin: 0 auto;position: relative;}
.main_title strong{height: 40px;line-height: 40px;font-size: 12px;color:#cc0d13;}
.main_title span{color: #454545;}
.main_title a{position: absolute;top:12px;right: 0px;}

.tab{width: 318px;margin: 0px auto;}
.tab ul{height:25px;position:relative;border-bottom: 1px solid #dadada; padding: 0px 10px;}
.tab li{width:98px;height: 24px;line-height:24px;float:left;position:relative;font-size:12px;color:#666;text-align: center;
    border: 1px solid #dadada;border-bottom:none;border-radius: 4px 4px 0 0;margin-right: -1px;}
.tab .active{height: 25px;line-height:25px;color: #454545;background: #fff;font-weight: bold;}
.tab ul li .triangle_down_red,.tab ul li .triangle_down_gray{position: absolute;top:10px;right: 12px;}

.side_section .tab{width: 214px;margin: 0 auto;}
.side_section .main_title{width: 214px;margin:0 auto;}
.side_section .tab ul{padding:0 6px;}
.side_section .tab li{width: 66px;}

.list_section{width: 318px;margin: 0 auto;padding-top: 2px;}
.list_section li{height: 28px;line-height: 28px;font-size:12px;color:#454545;border-top: 1px dotted #dadada; }
.list_section .title{color: #999;text-align:center;border-top:none;}
.list_section li .col1{display:block;width: 268px;float:left;text-indent: 16px;position: relative;}
.list_section li .col2{display:block;width: 50px;float:right;position: relative;}
.list_section li span a{color: #c75d61;}
.list_section li span p{display: inline;padding-left: 6px;cursor: pointer;}
.list_section li span p:hover{color: #cc0d13;}
.list_section li span em{color: #767676;}
.list_section li .col1 img{position: absolute;top: 13px;left: 7px;}
.list_section li .col2 img{position: absolute;top: 8px;right: 20px;}

.side_section .list_section {width: 214px;color: #999;padding: 3px 0 4px 0;}
.side_section .list_section li .col1{width: 138px;}
.side_section .list_section li .col2{width: 28px;color: #d80000;}
.side_section .list_section li .col3{width: 74px;}
.side_section .list_section li .col1 a{color: #333;}
.side_section .list_section .title .col2{color: #999;}

.soso{width: 318px;height:60px;line-height:60px;margin: 0 auto;position: relative;}
.soso strong{}
.soso input{width:180px;height: 19px;color:#9c9c9c;padding:2px;border:1px solid #9c9c9c;}
.soso a{position: absolute;top:18px;right: 10px;}

.login{position: relative;border:1px solid #dbdbdb;border-radius: 6px;margin-bottom: 10px;}
.login h2{height: 34px;line-height:30px;color:#010000;font-size: 12px;padding-top:4px;padding-left:12px;
    border-bottom: 1px solid #dadada;position: relative;}
.login h2 strong{color: #cc0d13;}
.login .form{width: 214px;height:58px;margin:0 auto;padding-top:11px;border-bottom: 1px solid #dadada;position: relative;}
.login .form ul{width:202px;color: #595959;margin:0 auto;position: relative;}
.login .form li{height: 26px;line-height: 26px;position: relative;}
.login .form li .text{width: 87px;height: 17px;background:#f9f9f9;border:1px solid #e5e5e5;}
.login .form li a{padding-left: 7px;}
.login .form li .btn{width: 54px;height: 22px;color:#fff;background: #e30000;border-radius: 10px;}
.login p{width:216px;height: 33px;line-height:33px;color: #666;margin: 0 auto;}
.login p a{background:url("../img/dot.gif") no-repeat 18px 14px;width: 80px; padding-left: 26px;}

.pic_list{position: relative;margin-bottom: 2px;}
.pic_list li{width:214px;height:83px;border-bottom:1px dotted #dadada;position: relative;margin-bottom: 10px;}
.pic_list .img{width: 94px;height: 71px;border: 1px solid #dadada;position: relative;}
.pic_list .img a{position: absolute;top:1px;left: 1px;}
.pic_list div{width:108px;height:73px;position: relative;}
.pic_list h3 a{color: #b80000;}
.pic_list .text{position: absolute;top:32px;left: 0px;}
.pic_list .text em{color:#999;}
.pic_list .text span{color: #666;}

.shop360 p{height: 28px;line-height: 28px;}

.pic_list.shop_list li{border-bottom: none;margin-bottom: 0px;}
.list_section.shop_list li{position: relative;}
.list_section.shop_list img{position: absolute;top:16px;left:8px;}
.list_section.shop_list li span{display:block;text-indent: 16px;}

.wrap_section4 .pic_list{width:216px;position: relative;}
.wrap_section4 .pic_list li{float:left;width: 106px;height:150px;border-bottom: none;}
.wrap_section4 .list_section{width: 216px;position: relative;}
.wrap_section4 .list_section li span {display: block;padding-left: 20px;vertical-align: middle;}
.wrap_section4 .list_section li span img{}



.activity{width: 348px;position: relative;}
.new_title{background: url("../img/new_title_bg.gif") no-repeat right 0px;height: 70px;position: relative;}
.new_title strong{position: absolute;top:22px;left:24px;font-size: 12px;color: #ea2b31;}
.new_title span{position: absolute;top:36px;left: 24px;font-size: 24px;color: #333;}
.new_title em{position: absolute;top:26px;left: 128px;font-size: 28px;color: #ec1c01;}

.activity .con{width:312px;margin:12px 18px 22px 18px;border-top:2px solid #f3f3f2;}
.activity .con .info{width: 302px;height: 84px;margin:14px auto;}
.activity .con .info .img{width:78px;height:78px;border:3px solid #D30408;float:left;}
.activity .con .info .img img{width:78px;height:78px;}
.activity .con .text{float:left;margin-left: 12px;}
.activity .con .text h3{}
.activity .con .text h3 em{width: 23px;height: 23px;border:1px solid #d2d2d2;border-radius: 3px;color: #ef1812;}
.activity .con .text h3 span{color:#333;}
.activity .con .text p{width:200px;height:54px;line-height:18px;color: #999;margin-top: 4px;}

.calendar{width: 298px;position: relative;margin:0px 7px;}
.calendar .normal{background: #f8f8f8;}
.calendar h3{height: 34px;font-family: arial;padding-left: 2px;}
.calendar span{width: 43;line-height: 34px;padding-right: 9px;font-size:14px;}
.calendar ol{width: 301px;margin-right: -3px;position: relative;}
.calendar li{width: 40px;height: 40px;text-align:center;line-height:40px;background: #ededed;margin-right: 3px;margin-bottom: 2px;float: left;position: relative}
.calendar li img{width:40px;height: 40px;position: absolute;left: 0px;top:0px;
    cursor: pointer;}
.calendar li img:hover{width:37px;height:37px;border:3px solid #d30408; }

.recommend{position: relative;margin-bottom: 3px;}
.recommend .new_title{background: url("../img/new_title_bg.gif") no-repeat right -70px;}
.recommend .pic{width: 316px;height: 180px;background: #f8f8f8;border-radius: 6px;margin:0 auto;position: relative;}
.recommend .pic img{width:224px;height: 130px;position: absolute;top:14px;left:12px;}
.recommend .pic ul{position: relative;}
.recommend .pic li{position: relative;}
.recommend .pic ol{width: 60px;height: 130px;position: absolute;top:14px;right: 12px;}
.recommend .pic ol li{width: 60px;height: 36px;background: #fff;margin-bottom: 11px; position: relative;}
.recommend .pic ol li img{width: 56px;height: 30px;position: absolute;left:2px;top:3px;}
.recommend .pic p{position: absolute;left:14px;bottom:12px;}

.recommend .list{width: 316px;margin: 26px; position: relative;}
.recommend .list li{height: 30px;padding-left:12px;padding-right:12px;position: relative;}
.recommend .list li em{color:#dfdfdf;}
.recommend .list li img{border:none;margin-right: 6px;}
.recommend .list a{width: 210px; color:#454545;}
.recommend .list a:hover{color:#D30408;}
.recommend .list li span{width:60px;color:#999;text-align: center;float:right;margin-left: 10px;margin-right: 10px;}

.bbs{position: relative;}
.bbs ul{width: 320px;margin: 0 auto;padding-bottom: 23px;position: relative;}
.bbs ul li{height: 30px;line-height:30px;background: #f8f8f8;margin-bottom: 2px;border-radius: 4px;}
.bbs ul .second{background: #f1f1f1;}
.bbs ul .active{height: 70px;background: #d90000;border-radius: 4px;position: relative;}
.bbs ul li em{color: #d80000;padding-left: 8px;padding-right: 20px;}
.bbs ul li a{color:#333;}
.bbs ul li span{color: #666;float: right;padding-right: 22px;}
.bbs ul li b{display: none;}

.bbs ul .active img{position: absolute;left: 10px;top:10px;width: 50px;height: 50px;display: block;}
.bbs ul .active a{position: absolute;left: 70px;top:16px;color: #fff;line-height:14px;font-size: 14px;}
.bbs ul .active span{position: absolute;left: 70px;top:40px;line-height:12px;color: #fff;font-size: 12px;}
.bbs ul li b{display: block;position: absolute;right: 4px;bottom: -6px;font-size: 20px;color: #fff;}

.hot_area{}
.hot ul{height:262px;margin-left:16px;}
.hot li{width: 78px;height: 78px;margin-right: 2px;margin-bottom: 2px;float: left;}
.hot li img{width: 78px;height: 78px;}
.hot .area1{width: 156px;}
.hot .area1 img{width: 156px;}
.hot .area2 {width:77px; }
.hot .area2 img{width: 77px;}

.help{position: relative;}
.help p{width: 320px;margin:0px 16px 16px 16px;text-indent: 24px;color: #333;font-family: arial;}
.help_info{width:320px;margin-left: 22px;padding-bottom:16px;border-bottom:1px solid #ededed;}
.help .tel{background: url("../img/content/help.gif") no-repeat 0 0;padding-left: 22px;margin-right: 40px;}
.help .email{background: url("../img/content/help.gif") no-repeat 0 -46px;padding-left:22px;}
.help_list{width: 140px;position: relative;margin-left: 16px;margin-top: 20px;padding-left: 10px;margin-bottom: 6px;}
.help_list h2{color:#292929;font-size: 12px;}

.media{position: relative;}
.media ul{margin-left: 15px;position: relative;margin-bottom: 27px;}
.media li{position: relative;margin-bottom: 13px;}
.media img{width: 88px;height: 31px;}
.media p{position: absolute;left: 98px;top:3px;color:#292929;font-size: 12px;font-family: arial;}
